<div class="container">
  <div class="row">
    <div id="favorites_buttons_<%= @circle.id %>">
      <%= render 'users/favorites/favorite', circle: @circle %>
    </div>
    <div class="col-md-1">
      <%= link_to root_path, class:"btn-hart" %>
      <i class="fas fa-users" aria-hidden="true" style="color: black;"></i>
    </div>
  </div>
  <%= render 'common/circle_show', circle: @circle %>

  <!--コメント-->
  <%= render 'users/circle_comments/comment_form', circle: @circle, comment: @comment %>
  <div class="allcomments">
    <%= render 'users/circle_comments/comment_all', circle: @circle, comment: @comment %>
  </div>
</div>