<!--users-->
<div class="container">
  <% if @circle.favorited_by?(current_user) %>
  <li>
    <%= link_to circle_favorites_path(@circle), method: :delete do %>
      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
      <%= @circle.favorites.count %> いいね
    <% end %>
  </li>
  <% else %>
  <li>
    <%= link_to circle_favorites_path(@circle), method: :post do %>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <%= @circle.favorites.count %> いいね
    <% end %>
  </li>
  <%= link_to "bookmark", bookmarks_circles_path %>
<% end %>

  <%= render 'common/circle_show', circle: @circle %>

  <%= form_with(model:[@circle, @comment], local: true) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_area :circle_comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    </div>
  </div>
  <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>


  <% @circle.circle_comments.each do |circle_comment| %>

    <%= circle_comment.user.name %></a></br>
    <%= circle_comment.created_at.strftime('%Y/%m/%d') %></br>
    <%= circle_comment.comment %></br>
    <% if circle_comment.user == current_user %>
      <%= link_to "削除", circle_circle_comment_path(circle_comment.circle, circle_comment), method: :delete, class: "btn btn-danger pull-right" %><br>
    <% end %>

  <% end %>

</div>