<div class="containe">
  <div class="row justify-content-center m-3 p-3">
    <h2 >参加確認</h2>
  </div>
  <div class="row justify-content-center m-3 p-3">
    <p>以下の内容でイベント参加予約を確定致します。</p>
  </div>
  <div class="row justify-content-center mx-5">
  <table class="confirm_t mx-5">
  <tr class="confirm_tr">
    <th class="confirm_th"><i class="fas fa-file-signature"></i>　イベント名 </th>
    <td class="confirm_td"><%= @join_circle.circle.circle_title %></td>
  </tr>
  <tr class="confirm_tr">
    <th class="confirm_th"><i class="fas fa-sun"></i>　開 催 日 </th>
    <td class="confirm_td"><%= @join_circle.circle.date_and_time.strftime('%Y/%m/%d %H:%M') %></td>
  </tr>
  <tr class="confirm_tr">
    <th class="confirm_th"><i class="fas fa-bus-alt"></i>　場　　所 </th>
    <td class="confirm_td"><%= @join_circle.circle.prefecture_code%><%= @join_circle.circle.address_city %><%= @join_circle.circle.address_street %><br><%= @join_circle.circle.address_building %></td>
  </tr>
  <tr class="confirm_tr">
    <th class="confirm_th"><i class="fas fa-comments-dollar"></i>　参 加 費 </th>
    <td class="confirm_td"><%= number_with_delimiter(@join_circle.circle.join_cost) + "円" %></td>
  </tr>
</table>
</div>
<%= form_with model: @join_circle, local: true do |f| %>
<%= f.hidden_field :circle_id, value: @join_circle.circle.id %>
<%= f.hidden_field :use_id, value: current_user.id %>
	    <%= f.submit "確定する", class: "btn btn-success" %>
	  <% end %>


</div>