<% circle.circle_comments.each do |circle_comment| %>
  <div class="border-top border-bottom py-3">
    <div class="col-10 text-muted">
      <i class="far fa-calendar-alt"></i>　<%= circle_comment.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div class="row justify-content-between">
      <div class="col-3 offset-1 py-2">
        <%= link_to user_path(circle_comment.user.id), class:"text-decoration-none" do %>
          <%= attachment_image_tag circle_comment.user, :user_image, size: "80x80", class:"border border-secondary rounded-circle", fallback: "no-image-icon.jpg" %>
          <div class="blog col-1 text-dark"><%= circle_comment.user.name %></div>
        <% end %>
      </div>
      <div class="col-4 text-left">
        <p><%= safe_join(circle_comment.comment.split("\n"),tag(:br)) %></p>
      </div>
      <div class="col-3 offset-1">
        <% if circle_comment.user == current_user %>
          <%= link_to "削除", circle_circle_comment_path(circle_comment.circle, circle_comment), method: :delete, class: "btn btn-danger", remote: true %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>