<div class="container">
  <div class="row justify-content-center m-3 p-3">
    <h1 class="top-border">新規投稿<h1>
  </div>
  <div class="row justify-content-center">
    <%= form_with model: @circle, url: leaders_circles_path, method: :post, local:true do |f| %>
      <% if @circle.errors.any? %>
        <%= @circle.errors.count %>件のエラーが発生しました
        <% @circle.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
      <%= render 'leaders/circles/circleform', circle: @circle, category_list: @category_list, f: f %>
      <div class="actions my-5">
        <%= f.submit "作成する", class:"signup_btn my-5" %>
      </div>
    <% end %>
  </div>
</div>
