<!--leaders-->
<div class="container">
  <% if @circle.favorited_by?(current_leader) %>
  <li>
    <%= link_to leaders_circle_favorites_path(@circle), method: :delete do %>
      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
      <%= @circle.favorites.count %> いいね
    <% end %>
  </li>
  <% else %>
  <li>
    <%= link_to leaders_circle_favorites_path(@circle), method: :post do %>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <%= @circle.favorites.count %> いいね
    <% end %>
  </li>
  <%= link_to "bookmark", bookmarks_leaders_circles_path %>
<% end %>

  <%= render 'common/circle_show', circle: @circle %>
  
  <% if leader_signed_in? %>
      <button>参加する</button>
    <% else %>
      <%= link_to "会員登録(無料)してサークルに参加する", new_leader_registration_path, class:"btn btn-success" %>
    <% end %>
</div>