<div class="login_form">
  <h2 class="login_title">リーダー新規登録(無料)</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "leaders/shared/error_messages", resource: resource %>
    <div class="field">
     <%= f.text_field :circle_name, autofocus: true, placeholder: "  サークル名",class:"form_font"%>
    </div>
    <div class="field">
     <%= f.text_field :name, autofocus: true, placeholder: "  アカウント名",class:"form_font"%>
    </div>
    <div class="field">
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name,{include_blank: "　都道府県選択"},class:"form_font" ) %>
    </div>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "  メールアドレス",class:"form_font" %>
    </div>
  
    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "  パスワード(６文字以上)",class:"form_font" %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "  パスワード(確認用)",class:"form_font" %>
    </div>
  
    <div class="actions">
      <%= f.submit "サークルリーダーになる", class:"signup_btn" %>
    </div>
  <% end %>
  <h6 class="log_url">すでにアカウントをお持ちの方は<br><%= render "leaders/shared/links" %>からログインしてください</h6>
</div>

