<div class="container">
  <div class="row justify-content-center m-3 p-3">
      <h1><%= @leader.circle_name %><h1>
  </div>
  <div class="row mt-5">
    <div class="col-md-2 align-self-start">
      <div class="text-center mb-2"><%= attachment_image_tag @leader, :leader_image, size: "200x200",class:"rounded-circle img-fluid border border-dark", fallback: "no-image-icon.jpg" %></div>
      <h3 class="user_info text-center mb-2"><%= @leader.name %></h3>
    	<div class="info_box mb-3">
    		<p><%= simple_format(h(@leader.introduction)) %></p>
    	</div>
      <% if @leader.id == current_leader.id %>
    	<div class="row">
    	  <%= link_to edit_leaders_leader_path(current_leader.id), class:"btn_flat_horizontal_border" do %>
    	    <span>プロフィール編集</span>
    	  <% end %>
    	</div>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h3 class="text-center user_title">イベント一覧</h3>
      <% @circles.each do |circle| %>
      <%= render 'common/circle_index', circle: circle %>
      <% end %>
    </div>
  </div>
</div>
