<div class="container">
  <div class="row justify-content-center m-3 p-3">
    <% if @user != current_user %>
      <h2 class="top-border"><%= @user.name %>　さんのページ</h2>
    <% else %>
      <h2 class="top-border">マイページ<h2>
    <% end %>
  </div>
  <div class="row mt-5">
    <div class="col-md-3 align-self-start">
      <div class="text-center mb-2"><%= attachment_image_tag @user, :user_image, size: "200x200",class:"rounded-circle border border-dark", fallback: "no-image-icon.jpg" %></div>
      <h3 class="user_info text-center mb-2"><%= @user.name %></h3>
    	<div class="info_box mb-3">
    		<p><%= simple_format(h(@user.introduction)) %></p>
      </div>
      <% if @user.id == current_user.id %>
      	<div class="row justify-content-center">
      	  <%= link_to edit_user_path(current_user.id), class:"btn-social-square btn-social-square--edit" do %>
        	  <i class="fas fa-user-edit" style="font-size: 1.5em;"></i>
    	    <% end %>
      	</div>
      <% end %>
    </div>
    <div class="col-md-9">
      <h3 class="text-center user_title">イベントスケジュール</h3>
      <div id="calendar">
        <%= month_calendar events: @join_circles do |date, j_circles| %>
          <%= date.day %>
          <% j_circles.each do |j_c| %>
            <div>
              <%= link_to j_c.circle_title, j_c %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="user_show">
        <h4 class="text-center hidden_box user_title">お気に入り一覧</h4>
      </div>
    </div>
    <div class="hidden_show mb-5">
      <% if @user.fav_circles.present? %>
        <div class="row row_zoom">
          <% @bookmarks.each do |bookmark| %>
            <div class="col-xs-3 mb-3">
              <%= render 'common/circle_top', circle: bookmark %>
            </div>
          <% end %>
        </div>
        <div class="row  justify-content-center">
          <%= paginate @bookmarks %>
        </div>
      <% else %>
        <p>まだお気に入りイベントはありません</p>
      <% end %>
    </div>
  </div>
</div>
