<div class="container">
  <div class="row justify-content-center m-3 p-3">
    <% if @user != current_user %>
      <h1>Welcome to <%= @user.name %>'s page  <span><i class="fas fa-paper-plane"></i></span></h1>
    <% else %>
      <h1>My page  <span><i class="fas fa-paper-plane"></i></span><h1>
    <% end %>
  </div>
  <div class="row mt-5">
    <div class="col-md-2 align-self-start">
      <div class="text-center mb-2"><%= attachment_image_tag @user, :user_image, size: "200x200",class:"rounded-circle img-fluid border border-dark", fallback: "no-image-icon.jpg" %></div>
      <h3 class="user_info text-center mb-2"><%= @user.name %></h3>
    	<div class="info_box mb-3">
    		<p><%= simple_format(h(@user.introduction)) %></p>
      </div>
      <% if @user.id == current_user.id %>
      	<div class="row">
      	  <%= link_to edit_user_path(current_user.id), class:"btn_flat_horizontal_border" do %>
    	      <span>プロフィール編集</span>
    	    <% end %>
      	</div>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h3 class="text-center user_title">イベントスケジュール</h3>
      <div id="calendar">
        <%= month_calendar events: current_user.j_circles do |date, j_circles| %>
          <%= date.day %>
          <% j_circles.each do |j_c| %>
            <div>
              <%= link_to j_c.circle_title, j_c %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="user_show">
        <h4 class="text-center hidden_box user_title">お気に入り一覧</h4>
        <div class="hidden_show">
          <% current_user.fav_circles.each do |fav_circle| %>
            <div class="row row_zoom">
              <%= render 'common/circle_top', circle: fav_circle %>
            </div>
          <% end %>
        </div>
      </div>
      <!--<div class="hidden_box">-->
      <!--  <h4 class="text-center">閲覧履歴</h4>-->
        <!--% current_user.j_circles.each do |circle| %>-->
          <!--<div class="row row_zoom">-->
            <!--%= render 'common/circle_index', circle: circle %>-->
          <!--</div>-->
        <!--% end %>-->
      </div>
    </div>
  </div>
</div>
