<div class="container">
  <div class="row justify-content-center m-3 p-3">
    <% if @user != current_user %>
      <h1>Welcome to <%= @user.name %>'s page  <span><i class="fas fa-paper-plane"></i></span></h1>
    <% else %>
      <h1>My page  <span><i class="fas fa-paper-plane"></i></span><h1>
    <% end %>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <h2 class="user_info">プロフィール</h2>
      <table class="table">
      	<tr><%= attachment_image_tag @user, :user_image, size: "200x200", fallback: "no-image-icon.jpg" %></tr>
      	<tr>
      		<th><%= @user.name %></th>
      	</tr>
      	<tr>
      	  <th>都道府県</th>
      		<td><%= @user.prefecture.name %></td>
      	</tr>
      	<tr>
      		<th>自己紹介</th>
      		<td><%= @user.introduction %></td>
      	</tr>
      </table>
      <% if @user.id == current_user.id %>
      	<div class="row">
      	  <%= link_to "プロフィール編集", edit_user_path(@user) %>
      	</div>
      <% end %>
      <div class="row">
        <%= link_to "お気に入り一覧", bookmarks_circles_path %>
      </div>
    </div>
    <div class="col-md-8">
      <h2 class="join_circle">参加サークル</h2>
      <!--% @join_circle.each do |j| %>-->
        <div class="card bg-dark text-white">
          <!--%= attachment_image_tag j, :image, size: "200x200", format: "jpeg", class:"card-img", fallback: "no_image.jpg" %>-->
          <img src="..." class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <!--%= j.circle_name, class:"card-title" %>-->
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <!--%= j.circle_introduction, class:"card-text" %>-->
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>
      <!--% end %>-->
    </div>
  </div>
</div>

